<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
    layout:decorate="~{layout/defaultLayout}"
>
<head th:remove="all">
    <title>OCR RESULT</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:text="${ocrResult}"></div>
    </div>
</body>
<script layout:fragment="contentJs" th:inline="javascript">
    /* <![CDATA[ */
    $(document).ready(function () {
    });
	/* ]]> */
</script>
</html>